@import "tailwindcss";

@theme {
  --color-crono-teal: #0a9b94;
  --color-crono-teal-action: #1ebab2;
  --color-crono-red: #ed4c5e;
  --color-crono-yellow-dark: #c69812;
  --color-crono-blue: #3b85e8;
  --color-crono-blue-company: #3b58db;
  --color-crono-purple: #8846dc;
  --color-crono-pink: #e769cb;
  --color-crono-green: #1a9d6e;
  --color-crono-moonlight: #e9f8f8;
  --color-crono-border: #e6e9f2;
  --color-crono-teal-soft: #effefd;
  --color-crono-gray: #7a8395;
  --color-crono-gray-dark: #3e485b;
  --color-crono-dark: #010e27;
  --color-crono-yellow: #f9bb06;
  --color-crono-yellow-light: #fef3d2;
  --color-crono-red-light: #ffe9e9;
  --color-crono-blue-light: #eaf1fb;
  --color-crono-green-light: #e8f5d9;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family:
    Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 14px;
  background: #f6f7f9;
}

* {
  box-sizing: border-box;
}
